@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Berkeley Mono';
        font-weight: 400;
        src: url('/fonts/BerkeleyMono-Regular.woff2') format('woff2'),
    }
    @font-face {
        font-family: 'Berkeley Mono';
        font-weight: 700;
        src: url('/fonts/BerkeleyMono-Bold.woff2') format('woff2'),
    }
    @font-face {
        font-family: 'Berkeley Mono';
        font-weight: 400;
        font-style: italic;
        src: url('/fonts/BerkeleyMono-Italic.woff2') format('woff2'),
    }
    @font-face {
        font-family: 'Berkeley Mono';
        font-weight: 700;
        font-style: italic;
        src: url('/fonts/BerkeleyMono-BoldItalic.woff2') format('woff2'),
    }
}

* {
    @apply font-mono;
}

body {
    @apply w-full h-full bg-neutral-900 text-white;
    @apply overflow-x-hidden;
}

h1 {
    @apply text-4xl font-bold;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

.yellow {
    @apply text-yellow-400;
    text-shadow: 0 0 8px rgb(250 204 21);
}

.orange {
    @apply text-amber-400;
    text-shadow: 0 0 8px rgb(251 191 36);
}

.green {
    @apply text-emerald-500;
    text-shadow: 0 0 8px rgb(16 185 129);
}

.red {
    @apply text-rose-500;
    text-shadow: 0 0 8px rgb(244 63 94);
}

.white {
    @apply text-white;
    text-shadow: 0 0 3px rgb(255 255 255);
}

.fuchsia {
    @apply text-fuchsia-400;
    text-shadow: 0 0 8px rgb(232 121 249);
}

.blue {
    @apply text-blue-500;
    text-shadow: 0 0 8px rgb(59 130 246);
}

.stone {
    @apply text-stone-200;
    text-shadow: 0 0 2px rgb(231 229 228);
}

small {
    @apply text-sm;
}

main {
    @apply mx-4 my-4;
}

div.card {
    @apply border-2 border-neutral-600 p-2;
    @apply z-10 bg-neutral-900;
}

div.lighter-card {
    @apply border !important;
}

div.card-flex {
    @apply flex gap-3 flex-wrap justify-around;
}

div.inner-card {
    @apply flex flex-col gap-y-2.5 w-fit p-6;
}

a:not(.green) {
    @apply text-fuchsia-500 hover:text-fuchsia-400 underline;
}

a.green {
    @apply text-emerald-500 hover:text-emerald-400;
}

a:not(.green):hover {
    text-decoration: none;
}

a:not(.green):visited {
    @apply text-fuchsia-400;
}

a:not(.green):visited:hover {
    @apply underline;
}

span.badge {
    @apply inline-block rounded-full px-2 py-1 text-xs font-bold;
}

span.badge-rose {
    @apply bg-rose-400 text-neutral-900;
    box-shadow: 0 0 8px rgb(251 113 133);
}

span.badge-blue {
    @apply bg-blue-400 text-neutral-900;
    box-shadow: 0 0 8px rgb(96 165 250);
}

span.badge-fuchsia {
    @apply bg-fuchsia-400 text-neutral-900;
    box-shadow: 0 0 8px rgb(232 121 249);
}

span.badge-yellow {
    @apply bg-yellow-400 text-neutral-900;
    box-shadow: 0 0 8px rgb(250 204 21);
}

span.badge-green {
    @apply bg-emerald-400 text-neutral-900;
    box-shadow: 0 0 8px rgb(52 211 153);
}

span.badge-orange {
    @apply bg-amber-400 text-neutral-900;
    box-shadow: 0 0 8px rgb(251 191 36);
}

span.badge-stone {
    @apply bg-stone-400 text-neutral-900;
    box-shadow: 0 0 8px rgb(231 229 228);
}

span.badge-white {
    @apply bg-white text-neutral-900;
    box-shadow: 0 0 8px rgb(255 255 255);
}

span.badge-cyan {
    @apply bg-cyan-400 text-neutral-900;
    box-shadow: 0 0 8px rgb(42 209 204);
}

.grade-max-bonus {
    @apply text-emerald-400;
}

.grade-ok {
    @apply text-emerald-500;
}

.grade-fail {
    @apply text-red-400;
}

.grade-wip {
    @apply text-stone-400;
}

tr:not(#root) {
    @apply border-b border-neutral-600;
}

tbody > tr:not(#root):hover {
    @apply bg-neutral-800 transition-colors;
}

tbody.high > tr {
    @apply h-10;
}

tbody.high > tr > td:nth-child(2) {
    @apply text-left;
}

img.cd {
    /* turn into a circle */
    @apply rounded-full;
    @apply object-cover object-center;
}

#strawberry-disc, #strawberry-disc > span.hole, #strawberry-disc > span.white-border {
    @apply relative;
    @apply max-w-[196px] max-w-[196px];
}

#strawberry-disc {
    @apply inline-block;
}

#strawberry-disc > span.hole,
#strawberry-disc > span.white-border
{
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    @apply rounded-full;
}

#strawberry-disc > span.hole {
    @apply w-8 h-8 bg-neutral-900;
}

#strawberry-disc > span.white-border {
    @apply w-9 h-9 bg-stone-200;
}

div.side-card {
    @apply -ml-1 min-h-[72px] w-80 my-2;
}

#cursors > img {
    @apply z-50;
}

/* Force Nearest Neighbor scaling */
canvas {
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.pixel-icon {
    image-rendering: pixelated;
}